

.active {
    color: rgb(0, 131, 253) !important; 
    border-bottom: 3px solid rgb(0, 131, 253);
}


.navbar .nav-btn-modal {
    background: none !important;
}

.e_log_form {
    max-width: 235px !important;
}
.e-log img {
    border-radius: 10px !important;
}

.modal-dialog {
    max-width: 350px !important;
}



